fastapi
uvicorn
python-multipart
pydantic
numpy
opencv-python
pillow

# AI
tensorflow
keras

# Speech & Video
openai-whisper
ffmpeg-python

# PDF
pypdf
PyMuPDF

# TTS
gtts

# Google Gemini
google-generativeai